/* For All */


h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}



.heading {
   
    width: 100%;
    display: inline-block;
    
    border-bottom: solid black;
    
}

#name {
  
    float: left;
    margin-left: 20%;
   margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(63, 179, 163);
    line-height: 30px;
    padding: 20px;
    color: white;
}

ul {
    list-style-type: none;
    margin-right: 10%;
    padding: 0;
    width: 200px;
    text-align: center;
}

li {
    display: inline;
    text-align: center;
}



li a {
    display: inline;
    color: #000;
    text-decoration: none;
    padding: 4px;
    margin: 1px;
}

li a:hover {
    background-color: #555;
    color: white;
}

.main-nav {
   float: right;
    
    list-style-type: none;
    margin-top: 35px;
    padding: 0;
    padding-right: 90px;
  width: auto;
}

body {
    margin: auto;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgrey;
    background-image: url("beige-tiles.png");

}
.main-body {
    max-width: 960px;
    background-color: lightgrey;
    padding-bottom: 50px;
    box-shadow: 10px 10px 25px grey;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}

.about-me {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid .5px grey;
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(58, 172, 137);
    background-image: url("beige-tiles.png")
}
footer {
    width: auto;
    height: 80px;
    border-top: solid black;
    
}



.social {
    text-align: center;
 


}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
/* End of All */

/* Index html Properties */
.pic {
    float: left;
    width: 190px;
    height: 180px;
    border: 1px solid #ddd;

    padding: 20px;
   
    margin-top: -10px;
    
}



.main {
    margin-left: 20px;
    width:auto;
    display: inline-block; 
    margin-right: 20px;  
}

.main2 {
    
    margin-left: 20px;
    width: 450px;
    display: inline-block;
    margin-right: 20px;   
}

.main3 {
    margin-left: 20px;
    margin-right: 20px;
    width: 430px;
    display: inline-block;

}
.main4 {
    
   margin-left: 20px;
   margin-right: 20px;
  
    width: 470px;
    display: inline-block;
}
.main5 {
    
    width: 700px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;

}



.last {
    
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block; 
}

.last2 {
   
    margin-left: 20px;
    margin-right: 20px;
      
    display: inline-block;
}

.last3 { 
    margin-left: 20px;
    margin-right: 20px;
       
    display: inline-block;
}


/* End of Index html Properties */







  /* Portfolio html Properties */
  

  .container {
      display: inline;
      position: relative;
      max-width: 960px;
      
      bottom: auto;
      
      


      
  }

  .center {
    font-family: Arial, Helvetica, sans-serif;
    top: -60px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    background-color:rgb(63, 179, 163); 
    color: white;
    display: inline-block;
    width: 310px;
    margin-left: -315px;
    z-index: 1;
    
    
    font-size: 28px;
  }

  .photos {
      width: 310px;
      height: 280px;
      margin-left: 40px;
      margin-top: 40px;
     
      
  }

  .entirety {
    
    display: inline-block;
    
      position: relative;
      max-width: 960px;
    

      height: auto;
     
      
  }

  /* End of Portfolio html Properties */

  /* Contact html Properties */
  #form-container {
      margin-left: 30px;
  }

.main-form {
    width: 800px;
    height: 30px;
    padding: 10px;
    margin-top: 0;
    margin-left: 15px;
    box-sizing: border-box;
    display:inline-block;
}
.name-form {
    margin-bottom: 10px;
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;

}
#message-box {
    max-height: 300px;
    min-height: 100px;
    max-width: 790px;
    min-width: 790px;
    padding: 5px;
    margin-left: 5px;
}


.social ul {
    display: inline;
    text-align: center;
    margin-left: 60px;
 

}
.social li {
    display: inline;
    text-align: center;
    margin-left: 60px;
    
}

/* End of Contact html Properties */


@media screen and (max-width: 980px) {
    body {
        width: auto;
        background-color: rgb(215, 240, 250)
    }
    footer {
        text-align: center;
    }
    .social {

        max-width: 650px;
        min-width: 400px;
        height: auto;
        margin: auto;
    }
    

    .main-form {
        max-width: 650px;
        min-width: 400px;
        height: auto;
        margin: auto;
      }
      .name-form {
          width: auto;
          height: auto;
          margin: auto;
      
      }
      #message-box {
        max-width: 750px;
        min-width: 630px;
          height: auto;
          margin: auto;
      }


      

}

@media screen and (max-width: 768px) {
    body {
        
        
        
        width: auto;
        background-color: rgb(91, 182, 147)
    }
    .main-nav {
        margin-left: 160px;
    }


  #form-container {
    margin-left: 30px;
  
}

.main-form {
    max-width: 300px;
    min-width:200px;
  height: auto;
  margin: auto;
}
.name-form {
    max-width: 600px;
    min-width: 500px;
    height: auto;
    margin: auto;

}
#message-box {
    max-width: 700px;
    min-width: 600px;
    height: auto;
    margin: auto;
}
#submit {
    width: auto;
    height: auto;
    margin: auto;
}
.main2  {
    width: 450px;
}

.main3 {
    width: 430px;
}

.main4 {

    width: 470px;
}



    
        

}

@media screen and (max-width: 640px) {
   
    body {
        
        
        
        width: auto;
        background-color: rgb(126, 91, 182)
    }
   
    header {
        position: static;

    }
    

    
    .main-body {
        padding:20px;
        margin-bottom: 150px;
        width: auto;
        height: auto;
       
    }
    
    .main-nav {
        margin-left: 160px;

    }
    .pic {
        width: 300px;
       
        margin: 0 auto;

    }
    .about-me {
        width: 100%;

    }
    #name {

      
        margin-left: 150px;
      
    }

    .social {
        padding-right: 500px;
        
    }
    #form-container {
        margin-left: 30px;
        width: auto;
    }
    
    .main-form {
        max-width: 300px;
        min-width:280px;
      height: auto;
      margin: auto;
    }
    .name-form {
        
        width: auto;
        height: auto;
       
       margin-right: auto;
    
    }
    #message-box {
        max-width: 310px;
        min-width: 280px;
        padding-bottom:30px; 
        height: auto;
      
    }
    #submit {
        width: auto;
        height: auto;
        margin-left: 40px;
    }

    .main2  {
        width: 300px;
        padding-right: 10px;
    }
    
    .main3 {
        width: 330px;
        padding-right: 10px;
    }
    
    .main4 {
    padding-right: 10px;
        width: 340px;
    }

    .main5 {
        padding-right: 10px;
        width: 330px;
    }

     .entirety {
    margin-left: -30px;
    margin-right: 0;
    bottom: 40px;
     }
     
}